<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Web</title>
    {{!-- stylesheet --}}
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
   
    {{>navbar}}
    
    {{!-- hero section start --}}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>We Will Help Yo To</h1>
                        <h1>Grow Your Business</h1>
                        <p>We are the team of <span class="bold-style">Professional Developer :)</span></p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img src="images/growth.svg" alt="hero_image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{!-- hero section end --}}

    {{!-- about section start --}}

    {{>about}}

    {{!-- about section end --}}

    {{!-- service section start --}}

    {{>service}}

    {{!-- service section end --}}


    {{!-- maps section start --}}

    {{>maps}}

    {{!-- maps section end --}}

    {{!-- contact section start --}}

    {{>contact}}

    {{!-- contact section end --}}

    {{!-- copyright section start --}}

    {{>copyright}}

    {{!-- copyright section end --}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>